<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/attendances.css">
    <title>Attendance</title>
</head>
<body>
<div class="header_item">
    <img class="logo" src="../../img/logo-hutech.png"/>
    <h1 class="header_name">Thư Viện Ảnh</h1>
    <nav class="navbar">
        <button id="export" class="btnExport">
            <img class="iconExport" src="../../img/export.png"/>
        </button>
        <input class="hidden" id="folder" value="{{ folder }}" />
    </nav>
</div>

<div class="content">
    <div id="gallery">
        {% for image in images %}
        <div class="img-item gallery-item"><img class="gallery-image"
                                                src="{{ url_for('get_image', folder=folder, filename=image) }}"
                                                alt="{{ image }}">
            <div class="img_info">
                <p class="name_user">{{ info[image.split('.')[0]] }}</p>
                <p class="id_user">{{ image.split('.')[0] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="/static/js/attendance.js" defer></script>
</body>
</html>

