h1 {
  text-align: center;
}

#gallery {
  display: grid;
  max-width: 1000px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.img-item {
  opacity: 0;
  filter: blur(10px);
  width: 100%;
}

.img-item img {
  width: 100%;
  height: auto;
}

.img-item p {
  text-align: center;
}

footer {
  text-align: center;
  color: #EEE;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
}

.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 24rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 12px;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.gallery-image:hover {
    transform: scale(1.15);
}