<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 - Bad Request</title>
    <link rel="stylesheet" href="/static/css/404.css">
</head>

<body>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
      <h1>Error <span class="errorcode">BAD REQUEST - ERROR 400</span></h1>
      <p class="output">We're sorry, but the request your browser made to our server is invalid or could not be understood. This might be due to a malformed syntax, unauthorized access, or an outdated link.</p>
      <p class="output">Please double-check the URL for any typos or errors. If you believe this is an error on our part, feel free to contact our support team.</p>
      <p class="output"><a href="/">RETURN TO HOMEPAGE</a>.</p>
      <p class="output">Thank you for your understanding.</p>
    </div>
</body>

</html>